
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
<title>LOGIN</title>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<!--theme-style-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Shopin Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndroId Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--theme-style-->
<link href="{% static 'css/style4.css' %} " rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<script src="js/jquery.min.js"></script>
<!--- start-rate---->
<script src="js/jstarbox.js"></script>
	<link rel="stylesheet" href="css/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
		<script type="text/javascript">
			jQuery(function() {
			jQuery('.starbox').each(function() {
				var starbox = jQuery(this);
					starbox.starbox({
					average: starbox.attr('data-start-value'),
					changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
					ghosting: starbox.hasClass('ghosting'),
					autoUpdateAverage: starbox.hasClass('autoupdate'),
					buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
					stars: starbox.attr('data-star-count') || 5
					}).bind('starbox-value-changed', function(event, value) {
					if(starbox.hasClass('random')) {
					var val = Math.random();
					starbox.next().text(' '+val);
					return val;
					} 
				})
			});
		});
		</script>
<!---//End-rate---->
</head>
<body style="background: url('/home/abdelrahman/Django_project/groupA/accounts/static/img/img.jpg'); background-size: cover;">

<div class="container">
	
	


<!-- <p id="demo"></p> -->
	

    	
<div class="col-md-12">
	<div class="col-md-3"></div>
	<div style="margin-top: 200px; border: 9px solid #e7e7e7;" class="col-md-6 ">


		<h1>{{title}}</h1>

		{% if  not request.user.is_active %}
			<span style="display:block; color:red" class="inactive"> *If you can't login contact the admin..you may be blocked </span> 
    	{% endif %}

		

		<form method="POST" action="" enctype="multipart/form_data">{% csrf_token %}

		{{form|crispy}}


		
		<!-- <button	type='submit' class='btn btn_default' value='Register'  ></button> -->
		<!-- <button onclick=""> -->
		<!-- {% if user.username == 'ahmed' %} 
		<button onclick="window.location='http://127.0.0.1:8000//'">submit</button>
		{% else %}
		<button onclick="window.location='http://127.0.0.1:8000//'">submit</button>
		{% endif %}
 -->


		<button onclick="window.location='http://127.0.0.1:8000/registration/'">Register</button>

		<input	type='submit' class='btn btn_default submitt' value='Login' />

<!-- 		<script>
function myFunction() {
	if (! (request.user.is_active))
    {document.getElementById("demo").innerHTML = "sorry you are blocked contact the admin";}
}
</script> -->
		<!-- <button onclick="window.location='http://127.0.0.1:8000/'">submit</button> -->
	



		</form>
	</div>
	</div>		
	</html>
</body>
{% endblock %}



<!-- window.location='http://www.google.com' -->