{%  extends 'geeks/base.html' %}




{% block main_block %}

<html>
<head>
	<h1>Create New Category</h1>
	</head>
	<body <body <body style=" background-image: url('/static/imgs/image1.jpeg');background-size:cover;background-repeat:no-repeat">>
		<table> 
			<tr>
				<td>
		<center>
		<form method='POST'>{% csrf_token %}
			{{ cnew_form.as_p }}
			
 
			<button type='submit'>Post </button>
			<button type="reset" class="myButton"class="w3-btn w3-round-xxlarge">reset</button>
			
			</center>
		</td>
	</tr>
			</form>
		</table>
	
		
	</body>
</html>

 {%  endblock %}
